body{
    font-family: 'Cormorant Upright', serif;
    font-size: 1.2em;
    background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*.container{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}
header{
    background: #557e7c;
    color: #ebebd3;
    padding: 1em 0;
    position: relative;
}

header::after{
    content: '';
    clear: both;
    display: block;
}
.logo{
    float: left;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.logo span{
    font-weight: 300;
}
.site-nav{
    top:100%;
    right:0;
    position: absolute;
    background: #464655;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
}
.site-nav-open{
    clip-path: circle(150% at top right);
}
.site-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-nav li{
    border-bottom: 1px solid #575766;
}
.site-nav li:last-child{
    border-bottom: none;
}
.site-nav a{
    color: #ebedb3;
    display: block;
    padding: 2em 6em;
    text-transform: uppercase;
    text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus{
    background: #e4b363;
    color: #464655;
}

.site-nav--icon{
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4);
}

.menu-toggle{
   
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    
}
.menu-open .hamburger{
    transform: rotate(45deg);
}
.menu-open .hamburger::before{
    opacity: 0;
}
.menu-open .hamburger::after{
    transform: translateY(-3px) rotate(-90deg);
}
.hamburger,
.hamburger::before,
.hamburger::after{
    content: '';
    display: block;
    background: #ebebd3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}
.hamburger::before{
    transform: translateY(-6px);
}
.hamburger::after{
    transform: translateY(3px);
}

@media (min-width:700px){
  .menu-toggle{
      display: none;
  } 
  .site-nav{
      height: auto;
      position: relative;
      background: transparent;
      float: right;
      margin-right: 10px;
      clip-path: initial;
  } 
  .site-nav li{
      display: inline-block;
      border: none;
  }

  .site-nav a{
      padding: 0;
      margin-left: 3em;
  }
  .site-nav--icon{
      display: none;
  }
  .site-nav a:hover,
  .site-nav a:focus{
      background: transparent;
  }

}*/


.container{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}
header{
    background: #1f8392;
    color: #ebebd3;
    padding: 1em 0;
    position: relative;
    border: 1.5px solid #c6d9d8;
    border-radius: 5px;
}

header::after{
    content: '';
    clear: both;
    display: block;
}
.logo{
    float: left;
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2.5px;
}
.logo span{
    font-weight: bold;
}
.site-nav{
    top:100%;
    right:0;
    position: absolute;
    background: #1f8392;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
}
.site-nav-open{
    clip-path: circle(150% at top right);
}
.site-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-nav li{
    border-top: 1px solid #c6d9d8;
}

.site-nav li:last-child{
    border-bottom: none;
}
.site-nav a{
    color: #1e144f;
    display: block;
    padding: 2em 6em;
    text-decoration: none;
    font-weight: bold;
}
.site-nav a:hover,
.site-nav a:focus{
    background: #28a9bc;
    color: #fff;
    transition: all .4s;
}

.site-nav--icon{
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1.5em;
    width: 1.1em;
    text-align: right;
    color: #1e144f;
    /*color: rgba(255, 255, 255, .4);*/
}

.menu-toggle{
       padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    
}
.menu-open .hamburger{
    transform: rotate(45deg);
}
.menu-open .hamburger::before{
    opacity: 0;
}
.menu-open .hamburger::after{
    transform: translateY(-3px) rotate(-90deg);
}
.hamburger,
.hamburger::before,
.hamburger::after{
    content: '';
    display: block;
    background: #ebebd3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}
.hamburger::before{
    transform: translateY(-6px);
}
.hamburger::after{
    transform: translateY(3px);
}

.footer {
	text-align: center; 
	padding-bottom:30px; 
	width:100%;
}

.footer a:link {
	text-decoration: none;
	color: #0a558c;
}

.footer a:hover {
	color: #4d4d4d;
}

.quien-soy-foto {
    display: block;
    margin: 0 auto 20px;
    border: solid 3px black;
    border-radius: 50%;
    width: 200px;
  }

@media (min-width:700px){
  .menu-toggle{
      display: none;
  } 
  .site-nav{
      height: auto;
      position: relative;
      background: transparent;
      float: right;
      margin-right: 10px;
      clip-path: initial;
  } 
  .site-nav li{
      display: inline-block;
      border: none;
  }

  .site-nav a{
      padding: 0;
      margin-left: 3em;
  }
  .site-nav a:hover,
  .site-nav a:focus{
      background: transparent;
  }

}